body {
  font-family: "SuisseIntl-Light";
  font-size: 18px;
  color: #333333;
  margin: 30px 20px;
}
@font-face {
  font-family: "SuisseIntl-Light";
  src: url(ftp://web176@server204.campusspeicher.de/httpdocs/fonts/SuisseIntl-Light-WebM.woff);
}

main {
  max-width: 800px;
  font-size: 36px;
  line-height: 1.3;
}
#disclaimer {
  font-size: 18px;
}
#social ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  bottom: 50px;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: #333333;

  transition: all 0.5s ease-out;
}
a:hover {
  text-decoration: underline;
  letter-spacing: 0.05rem;
}
